.DS_Store
.coverage
.python-version
*.egg-info
*.log
*.mo
*.py?
*.swp
# dirs
bin/
buildout-cache/
#config/dev/conf/
#config/test/conf/
config/dev/conf/_schema_analysis_stopwords_english.json
config/test/conf/_schema_analysis_stopwords_english.json
config/dev/data/
config/test/data/
develop-eggs/
eggs/
extras/
htmlcov/
include/
lib/
local/
node_modules/
parts/
src/*
dist/*
test.plone_addon/
var/
# files
.installed.cfg
.mr.developer.cfg
lib64
log.html
output.xml
pip-selfcheck.json
report.html
.vscode/
.tox/
.Python
reports/
*.hot-update.*
# excludes
!.coveragerc
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.travis.yml
!src/rer
