graft src/rer
graft docs
include *.rst
include *.txt
include LICENSE.GPL
include *.yml
global-exclude *.pyc
prune config
prune .github
exclude .babelrc
exclude .eslintrc.json
exclude .gitlab-ci.yml
exclude .nvmrc
exclude .prettierrc.json
exclude .stylelintrc.json
exclude constraints.txt
exclude constraints_plone50.txt
exclude constraints_plone51.txt
exclude constraints_plone52.txt
exclude package.json
exclude postcss.config.js
exclude pyproject.toml
exclude requirements.txt
exclude tox.ini
exclude webpack.config.js
exclude yarn.lock
exclude .coveragerc
exclude base.cfg
exclude bobtemplate.cfg
exclude buildout.cfg
exclude test_plone52.cfg
exclude test_plone60.cfg
